.matchInfo {
  padding-top: 1em;
  width: 100%;
  display: grid;
  grid-template-areas: "mapName share download";
  grid-template-columns: 1fr auto auto;
  grid-template-rows: 1fr;
  align-items: end;
  font-weight: bolder;
  margin: 0;
  padding: 0;
  align-items: baseline;
  padding-top: 0.7em;
}

.mapName {
  grid-area: mapName;
  font-size: 2em;
}

.matchInfo svg {
  margin-right: 0.5em;
}

.share {
  grid-area: share;
  font-size: 1.2em;
}

.download {
  grid-area: download;
  font-size: 1.2em;
  margin-left: 1em;
}
