@import "../style/breakpoints.scss";

$borderColor: #777;

.dateHeader {
  font-size: 3em;
  font-weight: bolder;
}

.matchListing {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  margin-top: 1em;
  margin-bottom: 6em;
}

@media only screen and (max-width: 2600px) {
  .matchListing {
      grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 1800px) {
  .matchListing {
      grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 1200px) {
  .matchListing {
     grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 700px) {
  .matchListing {
     grid-template-columns: 1fr;
  }
}

.matchListing a {
  transition: transform 0.5s;
  transform: scale(1);
}

.matchListing a:hover {
  transform: scale(1.05);
}
.container {
  display: grid;
  aspect-ratio: 16/9;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.mapContainer {
  grid-area: 1/1;
  background-color: $borderColor;
}

.mapImage {
  border: 1px solid $borderColor;
}

.infoContainer {
  grid-area: 1/1;
  position: relative;
  place-items: end;
  display: grid;
  color: #fff;
  font-weight: bolder;
  text-shadow: 1px 1px 2px #000, 0 0 2px #555, 0 0 2px #555;
}

.infoGrid {
  width: 100%;
  display: grid;
  backdrop-filter: blur(2px);
  grid-template-areas: "map numPlayers redTeam redScore" "map numPlayers blueTeam blueScore";
  grid-template-columns: 1fr 4fr 4fr 1fr;
  grid-template-rows: 1fr 1fr;

  border-left: 1px solid $borderColor;
  border-right: 1px solid $borderColor;
  border-bottom: 1px solid $borderColor;

  &Red {
    @extend .infoGrid;
    background-color: #ff777766;
  }

  &Blue {
    @extend .infoGrid;
    background-color: #7777ff66;
  }
}

.infoMap {
  grid-area: map;
  font-size: 1.8em;
  margin-top: auto;
  letter-spacing: -2px;
  height: 32px;
  margin-left: 0.2em;
}

.infoNumPlayers {
  display: table-cell;
  grid-area: numPlayers;
  margin-top: auto;
  height: 27px;
  margin-left: 0.2em;
}

.infoTeamRed {
  grid-area: redTeam;
  justify-self: right;
}

.infoRedFrags {
  text-align: right;
  grid-area: redScore;
  min-width: 2.5em;
  margin-right: 0.2em;
}

.infoTeamBlue {
  grid-area: blueTeam;
  justify-self: right;
}

.infoBlueFrags {
  text-align: right;
  grid-area: blueScore;
  min-width: 2.5em;
  margin-right: 0.2em;
}
