@import "../style/breakpoints.scss";

.matchInfo {
  padding-top: 1em;
  width: 100%;
  display: grid;
  grid-template-areas: "mapName share download" "tags tags tags";
  grid-template-columns: 1fr auto auto;
  grid-template-rows: 1fr 1fr;
  align-items: end;
  font-weight: bolder;
  margin: 0;
  padding: 0;
  align-items: baseline;
  padding-top: 0.7em;
}

.mapName {
  grid-area: mapName;
  font-size: 2em;
    
  @include sm {
    font-size: 1em;
  }

  @include md {
    font-size: 1.2em;
  }
}

.matchInfo svg {
  margin-right: 0.5em;
}

.share {
  grid-area: share;
  font-size: 1.2em;
  cursor: pointer;
}

.shareText {
  @include sm {
    display: none;
  }

  @include md {
    display: none;
  }
}

.download {
  grid-area: download;
  font-size: 1.2em;
  margin-left: 1em;

  @include sm {
    margin-left: 0;
  }

  @include md {
    margin-left: 0;
  }
}

.downloadText {
  @include sm {
    display: none;
  }

  @include md {
    display: none;
  }
}

.tags {
  grid-area: tags;
  margin-top: 0.3em;
}

.tag {
  color: #444;
  font-weight: bold;
  background-color: #a98;
  margin-right: 1em;
  padding: 0.15em;
  padding-left: 0.4em;
  padding-right: 0.4em;
  border-radius: 0.3em;
}

.tableWrap {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  padding-top: 2em;

  table {
    tr {
      th:first-child {
        position: sticky;
        left: 0px;
        z-index: 40;
        background-color: #ddd;
        text-align: left;
      }
    }

    td {
      text-align: right;
    }
  }
}