@import "../style/breakpoints.scss";

$borderColor: #777;

.dateHeader {
  font-size: 3em;
  font-weight: bolder;
}

.matchListing {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  margin-top: 1em;
  margin-bottom: 6em;

  @include xl {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @include lg {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include md {
    grid-template-columns: 1fr 1fr;
  }

  @include sm {
    grid-template-columns: 1fr;
  }
}

.matchListing a {
  transition: transform 0.5s;
  transform: scale(1);
}

.matchListing a:hover {
  transform: scale(1.05);
}

.container {
  display: grid;
  aspect-ratio: 16/9;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

//  min-width: 22em;
}

.mapContainer {
  grid-area: 1/1;
  background-color: $borderColor;
}

.mapImage {
  border: 1px solid $borderColor;
}

.infoContainer {
  grid-area: 1/1;
  position: relative;
  place-items: end;
  display: grid;
  color: #fff;
  font-weight: bolder;
  text-shadow: 1px 1px 2px #000, 0 0 2px #555, 0 0 2px #555;

  font-size: 1em;
  line-height: 1em;

  @include xl {
    font-size: 0.8em;
    line-height: 0.8em;
  }

  @include lg {
    font-size: 0.75em;
    line-height: 0.75em;
  }

  @include md {
    font-size: 0.65em;
    line-height: 0.65em;
  }

  @include sm {
    font-size: 0.9em;
    line-height: 0.9em;
  }
}

.infoGrid {
  width: 100%;
  display: grid;
  backdrop-filter: blur(2px);
  grid-template-areas: "map redTeam redScore" "map blueTeam blueScore";
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr 1fr;

  border-left: 1px solid $borderColor;
  border-right: 1px solid $borderColor;
  border-bottom: 1px solid $borderColor;

  &Red {
    @extend .infoGrid;
    background-color: #ff777766;
  }

  &Blue {
    @extend .infoGrid;
    background-color: #7777ff66;
  }
}

.infoMap {
  grid-area: map;
  font-size: 3em;
  letter-spacing: -0.04em;
  margin-left: 0.1em;
  align-self: flex-end;
}

.infoMap span {
  line-height: 1em;
}

.infoNumPlayers {
  font-size: 0.35em;
  letter-spacing: -0.04em;
  margin-left: 0em;
  align-self: flex-end;
}

.infoTeamRed {
  grid-area: redTeam;
  justify-self: right;
  align-self: flex-end;
  margin-bottom: 0;
  line-height: 1em;
}

.infoRedFrags {
  text-align: right;
  grid-area: redScore;
  min-width: 2.5em;
  margin-right: 0.2em;
  align-self: flex-end;
  line-height: 1em;
}

.infoTeamBlue {
  grid-area: blueTeam;
  justify-self: right;
  //align-self: flex-end;
  align-self: center;
  line-height: 1em;
}

.infoBlueFrags {
  text-align: right;
  grid-area: blueScore;
  min-width: 2.5em;
  margin-right: 0.2em;
  //align-self: flex-end;
  align-self: center;
  line-height: 1em;
}
